<div class="top-showcase">
    <div class="container">
        <div class="inner-hold">
            <div class="content-holder">
                <h1>Personalized<br> Mental Health Care.</h1>
                <p>Let us help you find your balance again, with antidepressants delivered straight to your door.</p>
                <a class="btn btn-primary xlarge" href="#">Start your visit</a>
            </div>
            <div class="image-holder">
                <img src="images/img01.png" alt="" width="429" height="565">
            </div>
        </div>
    </div>
    <div class="support-chat">
        <a href="#"><img src="images/chat.svg" alt=""></a>
    </div>
</div>
<div class="brief-info">
    <div class="container">
        <div class="inner-hold">
            <div class="image-holder">
                <img src="images/img02.svg" alt="" width="480">
            </div>
            <div class="content-holder">
                <h2 class="h1">2 out of 10 Americans are affected by Depression or Anxiety every year</h2>
                <p>Yet only 37% of those suffering receive treatment.</p>
            </div>
        </div>
    </div>
</div>
<div class="our-specifications">
    <div class="bg-stretch" style="background-image: url(images/paint.svg)">
        <div class="container">
            <div class="inner-hold">
                <div class="title-hold">
                    <h2 class="h1">Cerebral helps smooth the path to getting the help you need</h2>
                </div>
                <div class="text-hold">
                    <p>You don’t have to wait weeks to get the help you deserve. We remove the friction associated with making appointments with prescribing physicians, by offering an online alternative you can complete in the comfort of your own home.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="how-it-works">
    <div class="container">
        <h2 class="h1 align-center">How it works</h2>
        <div class="column-holder">
            <div class="column">
                <div class="image-holder">
                    <img src="images/ico01.svg" alt="image description" width="200">
                </div>
                <h3>Complete Your Online Visit</h3>
                <p>You complete your online visit by telling your doctor more about your symptoms and health.</p>
            </div>
            <div class="column">
                <div class="image-holder">
                    <img src="images/ico02.svg" alt="image description" width="200">
                </div>
                <h3>Experience Personalized Care</h3>
                <p>A doctor will review your case and write a prescription for your medication treatment plan.</p>
            </div>
            <div class="column">
                <div class="image-holder">
                    <img src="images/ico03.svg" alt="image description" width="200">
                </div>
                <h3>Receive Package At Your Door</h3>
                <p>Your medication is delivered straight to your door in discreet packaging</p>
            </div>
        </div>
    </div>
</div>
<div class="visit-online">
    <div class="container">
        <div class="inner-hold">
            <div class="image-holder">
                <img src="images/img04.png" alt="" width="700" style="max-width: 700px">
            </div>
            <div class="content-holder align-center">
                <h1>Get started with your online visit.</h1>
                <a href="/start" class="btn btn-outline xlarge-outline">Get Started</a>
            </div>
        </div>
    </div>
</div>
