.top-showcase {
	position: relative;
	background: linear-gradient(180deg, #eff2fa 0%, #eff1fa 55%, #dbe0f3 100%);
	padding: 35px 0 0;

	.inner-hold {
		@include media('>=phone') {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			padding: 0 9px;
		}
	}

	.content-holder {
		flex: 1;
		align-self: center;
		margin-bottom: 30px;
		text-align: center;

		@include media('>=phone') {
			text-align: left;
			padding: 0 15px 0 0;
		}

		@include media('>=widescreen') {
			padding: 0 70px 0 0;
			margin-top: -30px;
		}
	}

	h1 {
		text-transform: capitalize;

		@include media('>=desktop') {
			margin-bottom: 76px;
		}
	}

	p {
		@include media('>=desktop') {
			margin-bottom: 51px;
		}
	}

	.image-holder {
		width: 220px;
		height: auto;
		margin: auto;

		@include media('>=tablet') {
			width: 300px;
		}

		@include media('>=desktop') {
			width: 429px;
			height: 565px;
			margin-right: 28px;
		}
	}
}

.support-chat {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-color: #e1e5f5;
	background: $dark-blue;
	padding: 12px;

	@include media('>=tablet') {
		width: 70px;
		height: 70px;
		right: 24px;
		bottom: 24px;
		padding: 18px;
	}

	@include media('>=desktop') {
		width: 96px;
		height: 96px;
	}

	a {
		display: block;
		@include animate(opacity);

		&:hover {
			opacity: 0.7;
		}
	}

	img {
		width: 100%;
	}
}

.brief-info {
	background-color: #f6f6f6;
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 120px 0;
	}

	@include media('>=widescreen') {
		padding: 188px 0 170px;
	}

	.image-holder {
		width: 100%;
		margin: 0 auto 15px;

		@include media('>=phone') {
			width: 360px;
			height: auto;
		}

		@include media('>=desktop') {
			width: 480px;
		}

		@include media('>=widescreen') {
			width: 624px;
		}
	}

	.content-holder {
		flex: 1;
		text-align: center;

		@include media('>=tablet') {
			text-align: left;
		}

		@include media('>=1440px') {
			margin: 10px -30px 0 -10px;
		}
	}

	h2 {
		@include media('>=tablet') {
			margin-bottom: 5px;
		}
	}

	.inner-hold {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		@include media('>=widescreen') {
			padding: 0 14px;
		}
	}
}

.our-specifications {
	padding: 30px 0;
	max-width: 1356px;
	margin: 0 auto;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 113px 0 80px;
	}

	.bg-stretch {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100% 100%;
	}

	.inner-hold {
		padding: 60px 0;

		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 0 -5px;
		}

		@include media('>=desktop') {
			padding: 94px 30px 70px;
		}
	}

	.title-hold {
		@include media('>=tablet') {
			float: left;
			width: 380px;
			padding: 0 5px;
		}

		@include media('>=desktop') {
			width: 450px;
		}
	}

	.text-hold {
		@include media('>=tablet') {
			overflow: hidden;
			flex: 1;
			font-size: 20px;
			line-height: 1.75;
			padding: 0 5px;
			font-weight: 400;
		}

		@include media('>=desktop') {
			font-size: 24px;
			line-height: 2;
		}

		@include media('>=widescreen') {
			font-size: 30px;
		}
	}
}

.how-it-works {
	padding: 30px 0;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 30px 0 86px;
	}

	h2 {
		@include media('>=desktop') {
			margin-bottom: 98px;
		}
	}

	.column-holder {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -15px;
		}

		@include media('>=widescreen') {
			margin: 0 -38px;
		}
	}

	.column {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;

		@include media('>=tablet') {
			width: 33.33%;
			padding-left: 15px;
			padding-right: 15px;
			text-align: left;
		}

		@include media('>=widescreen') {
			padding-left: 55px;
			padding-right: 55px;
		}

		h3 {
			text-transform: capitalize;

			@include media('>=desktop') {
				margin-bottom: 39px;
			}
		}
	}

	.image-holder {
		width: 150px;
		height: 150px;
		border-radius: 100%;
		overflow: hidden;
		margin: 0 auto 15px;

		@include media('>=tablet') {
			width: 200px;
			height: 200px;
		}

		@include media('>=desktop') {
			width: 245px;
			height: 245px;
			margin-bottom: 32px;
		}
	}
}

.visit-online {
	background: $silver;
	padding: 90px 0;

	@include media('>=desktop') {
		padding: 138px 0 143px;
	}

	.inner-hold {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		@include media('>=widescreen') {
			margin: 0 -60px;
		}
	}

	.image-holder {
		@include media('>=tablet') {
			width: 480px;
			height: auto;
		}

		@include media('>=desktop') {
			width: 600px;
			height: auto;
		}

		@include media('>=widescreen') {
			width: 870px;
			height: 588px;
		}
	}

	.content-holder {
		@include media('>=tablet') {
			flex: 1;
		}

		@include media('>=widescreen') {
			margin: 10px 0 0 -180px;
			padding: 0 110px;
		}
	}

	h2 {
		@include media('>=desktop') {
			margin-bottom: 74px;
		}
	}
}