.nav {
	@include media ('<tablet') {
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 100%;
		width: 100%;
		z-index: 999;
		background-color: $white;
		text-align: center;
		padding: 15px;
		@include animate(left);
	}

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		flex-basis: 100%;
		max-width: 100%;
	}

	a {
		display: block;
		font-weight: 700;
		letter-spacing: -0.31px;

		@include media('>=desktop') {
			font-size: 22px;
			line-height: 26px;
		}
	}
}

.secondary-navigation {
	position: relative;
	width: 100%;

	&:after {
		@include media('>=tablet') {
			content: '';
			position: absolute;
			top: 0;
			left: -9999px;
			right: -9999px;
			bottom: 0;
			background: $dark-blue;
			z-index: -1;
		}
	}
}

.nav-child {
	@extend %listreset;

	@include media('>=tablet') {
		display: flex;
	}

	@include media('>=widescreen') {
		margin: 0 -30px;
	}

	li {
		padding: 10px;

		@include media('>=tablet') {
			padding: 0;
		}

		+ li {
			margin-left: 13px;
		}
	}

	a {
		@include animate(opacity);

		@include media('>=tablet') {
			color: $white;
			padding: 15px 20px 19px;
			@include animate(background color);
		}

		&:hover {
			opacity: 0.7;

			@include media('>=tablet') {
				background: $white;
				color: $dark-blue;
			}
		}
	}
}

.nav-drop {
	@extend %listreset;

	@include media('>=tablet') {
		display: flex;
		width: calc(100% - 200px);
		justify-content: flex-end;
		margin-bottom: 30px;
	}

	@include media('>=widescreen') {
		margin: 0 -41px 63px;
	}

	li {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 10px;

		@include media('>=tablet') {
			padding: 0 15px;
			margin-bottom: 10px;
		}

		@include media('>=desktop') {
			padding: 0 30px;
		}

		@include media('>=widescreen') {
			padding: 0 29px;
		}

		&:last-child {
			position: relative;

			&:before {
				@include media('>=tablet') {
					content: '';
					width: 2px;
					height: 52px;
					background: $dark-blue;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	a {
		@include animate(opacity);

		&:hover {
			opacity: 0.7;
		}
	}
}

.nav-opener {
	@include hide-text;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 29px;
	height: 22px;
	z-index: 9;
	@include animate(opacity);

	@include media('>=tablet') {
		display: none;
	}

	&:hover {
		opacity: 0.7;
	}

	&:after,
	&:before,
	span {
		background-color: $dark-blue;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 3px;
		width: 29px;
		border-radius: 4px;
		margin-top: -2px;
		@include animate(transform opacity, 0.2s);
	}

	&:before,
	&:after {
		content: '';
		top: 0;
		margin-top: 0;

		.nav-active & {
			transform: rotate(45deg);
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -2px;
		}
	}

	span {		
		.nav-active & {
			opacity: 0;
		}
	}

	&:after {
		top: 100%;
		margin-top: -4px;

		.nav-active & {
			transform: rotate(-45deg);
		}
	}
}

.nav-active {
	.nav {
		left: 0;
	}
}